{% extends "todo/base.html" %}
{% block header %}               
{%endblock%}
{% block body %}
	<div class='row' id='login'>                 
	<div class='col-lg-6'>
		<div id='intro'>
		<p id='phrase'>Never forget a thing</p>
		<p>From groceries to homework, we help you remember it all, anytime, anywhere</p>
		</div>
	</div>
	<div class='col-lg-6' id='form'>
		<h3>Sign up</h3>
		<p class='auth-alert'>{{alert}}</p>
		<form action="{{url_for('auth.signup')}}" method="POST">
                    <div class="form-group">
		    <label for="email">Name</label>
		    <input type="text" class="form-control" id="name" placeholder="Enter your name" name='name' required>
		  </div>
		  <div class="form-group">
		    <label for="email">Email address</label>
		    <input type="email" class="form-control" id="email" placeholder="Enter email" name='email' required>
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" placeholder="Password" name='password' required>
		  </div>
		  <div class="form-group">
		    <label for="password2">Confirm Password</label>
		    <input type="password" class="form-control" id="password2" placeholder="Re-enter Password" name='password2' required>
	 	  </div>
		  <div class="form-check">
		    <input type="checkbox" class="form-check-input" id="remember">
		    <label class="form-check-label" for="remember" name='password' value=1>Remember</label>
		  </div>
		  </br>
		  <button type="submit" class="auth-btn btn">Submit</button>
		</form>	
		
	</div>
	</div>
{% endblock %}
