<! DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href='{{ url_for('static', filename='main.css')}}' rel='stylesheet'/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>
	<title> TODO MANAGER </title>
	<body>
		<nav class="navbar fixed-top ">
			  <a class="navbar-brand" href="/">Home</a>
			  <ul class="navbar-nav" style='margin-right:30px'>
				<li class="nav-item">
					<a class="nav-link" style='padding:8px;' data-value="shopping" href="{{url_for("todo.shopping")}}"><i class="fa fa-shopping-cart"></i></a>
		    		</li>
				<li class="nav-item">
					<a class="nav-link" style='padding:8px;' data-value="todo" href="{{url_for("todo.todos")}}"><i class="fa fa-calendar-check-o"></i></a>
		    		</li>
                                {%if nav_right_text%}
				<li class="nav-item">
					<a class="nav-link" style='padding:8px;' data-value="about" href="/signout">{{nav_right_text}}&nbsp;&nbsp;<i class="fa fa-sign-out"></i></a>
		    		</li>
                                {%endif%}
			  </ul>	 
		</nav>
		<div class="container" id='main' style='margin-top:100px; margin-bottom:150px'>
			{% block header %}        
			{% endblock %}
			{% block body %}
			{% endblock %}
		</div>

<!-- footer -->

		<footer class="footer fixed-bottom">
			<div class="row">
				<div class='row' id='developer'>
					<p class="text-center lead">Developer : &nbsp;</p>
					 <a href="https://github.com/amirul-dev">
	  					<img src='{{ url_for('static', filename='github.png')}}' alt="github" height='30px' width='30px'>
					&nbsp;
					</a> 
					<a href="https://www.linkedin.com/in/amirul-haqe/">
	  					<img src='{{ url_for('static', filename='linkedin.png')}}' alt="github" height='32px' width='32px'>
					</a> 
				</div>
			</div>
		</footer>


	</body>
</html>

