{% extends "todo/base.html" %}
{% block header %}

	<div class='row'>

	    <div class='col-lg-4'>
		{%if first_todo!='' %}
		<div style='margin-top:50px; margin-bottom:50px'>
		<h2>{{first_todo}}</h2>
		<h5>{{status}} by : {{rem_time}}</h5>
		</div>
		{%endif%}
	    </div>

	    <div class='col-lg-8'>
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Leave your ToDos here, and free your mind</h4>
			<form action="{{url_for('todo.todos', userid=userid)}}" method="POST">
                        <div class="d-flex"> 
				<input type="text" class=" add-input" placeholder="What do you need to do today?" name='new-todo' required> 
				<input type="date" class=" add-input todo-date" placeholder="Enter the due date" name='new-todo-date'> 	
				<input type="time" class=" add-input todo-time" placeholder="Enter the due date" name='new-todo-time'> 
				<button type='submit' class="btn add-btn">Add</button> 
			</div>
			</form>

			    <div class='scroll-area-sm'>
                            <ul class="todo-list">
				{% for id, title, due_date, due_time in data %}
                                <li>
				<div class='content-wrapper '> 
                                    <form action="{{url_for('todo.tick', id=id)}}" method="POST">
                                    <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox" name='tick' value='completed'> {{title}} </label>
					{%if check_overdue(due_date,due_time)=='Overdue'%}
					<div class='due-alert'>Overdue</div>{%endif%}
				     </div>
				    </form>

				    <div class="content-right"> 
				    <form action="{{url_for('todo.delete', id=id, table='todos', userid=userid)}}" method="POST">
					{{format_date(due_date)}}  {{format_time(due_time)}}<button class="border-0 btn-transition btn btn-outline-danger" style="margin-left:10px"> <i class="fa fa-trash"></i> </button> </div>
				    </form>

				</div>
                                </li>
				{%endfor%}
                            </ul>
			    </div>
                       
                    </div>
                </div>
	   </div>
	</div>
{% endblock %}

